* {
    box-sizing: border-box;
    font-family: 'misoregular';
    transition: all .1s ease-in;
    }

section {
    width: 1200px;
    height: 600px;
    background-color: #fdde7e;
    display: flex;
    justify-content: space-around;
}

.bronze, .gold, .silver  {
    width: 360px;
    height: 440px;
    background-color: white;
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    
}

.bronze:hover, .gold:hover, .silver:hover   {
    width: 360px;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
}

._2, ._3, ._2-5 {
    display: flex;
    font-size: 70px;
    color: #02995b;
    padding-top: 45px;
    }

    .smoke-bronze, .smoke-gold, .smoke-silver  {
        padding-bottom: 12px;
    }

    .cup-bronze, .cup-gold, .cup-silver {
        margin-left: 10px;
        position: relative;
        z-index: 1;
    }

    .bean-bronze, .bean-gold, .bean-silver {
        position: fixed;
        margin-left: -95px;
        margin-top: 15px;
        z-index: 2;
    }

   .txt-bronze, .txt-gold, .txt-silver{
    display: flex;
    font-size: 56px;
    color: #333333;
    padding-top: 39px;

   }

   .down-txt-bronze, .down-txt-gold, .down-txt-silver {
       font-size: 20px;
       text-align: center;
       padding-bottom: 39px;
   }




  @font-face {
    font-family: 'misoregular';
    src: url('miso____-webfont.woff2') format('woff2'),
         url('miso____-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}