* {
    box-sizing: border-box;
    } 
    
html {
    background-color: black;
 }

body { 
    width: 786px;
    height: 659px;
    background-color: white;
    margin: auto;
    padding-left: 9px;
    padding-top: 30px;
}

h1 {
    background-color: #a52a2a;
    text-align: center;
    color: white;
    margin-right: 0px;
   }

p {
    font-weight: 18px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}
.blueitalic {
    font-style: italic;
    color: blue;
}
.car-block  {

    padding-left: 206px;
    }

.car {
    border: dashed;
    display: inline-block;
}
.footer {
    font-weight: 20px;
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 37px;
}
